@model WebbApp.ViewModels.ItemViewModel


    <div class="row">
        <div class="col-md-6">
            <img src="@Model.Image" class="SingleDisplayImage" />
        </div>
        <div class="row">
            <div class="col-md-3">
                <h2>@Model.Title</h2>
                @Html.DisplayFor(model => model.City)
                @Html.DisplayFor(model => model.Region)
                @Html.DisplayFor(model => model.ExpirationDate)
            </div>
            <div class="col-md-3">
                <h3>Description</h3>
                <p>
                    @Model.Description
                </p>
                @Ajax.ActionLink("Remove Item","RemoveItem","Item", new {itemID = Model.ItemID },
               new AjaxOptions
               {
                   UpdateTargetId = "PartialContainer",
                   InsertionMode = InsertionMode.Replace,
                   HttpMethod = "GET"
               })
                @Html.ActionLink("Edit Item", "EditItem", "Item", new { itemID = Model.ItemID },null)
               @*new AjaxOptions
           {
               UpdateTargetId = "PartialContainer",
               InsertionMode = InsertionMode.Replace,
               HttpMethod = "GET"
           })*@


            </div>
            
        </div>
    </div
@*Jag fixar allt*@
