 @model WebbApp.ViewModels.ItemViewModel
     
@{
    var editItem = new AjaxOptions
    {
        UpdateTargetId = "PartialContainer",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET"
    };
}

<div class="row listItem">
    <div class="col-md-4">
        <img src="@Model.Image" class="ListItemImage" />
    </div>
    <div class="col-md-4">
        <h2>@Model.Title</h2>
        @Html.DisplayFor(model => model.City)
        @Html.DisplayFor(model => model.Region)
        @Html.DisplayFor(model => model.ExpirationDate)
    </div>
    <div class="col-md-4">
        <h3>Description</h3>
        <p>
            @Model.Description
        </p>

    </div>
    @Ajax.ActionLink("Show Item", "DisplaySingleItem","Item", new { itemID = Model.ItemID }, editItem)

</div>
