@model WebbApp.ViewModels.ItemViewModel



<div class="row listItem">
    <div class="col-md-3">
        @if (Model.Images != null)
        {
            foreach (var image in Model.Images)
            {
                <img src="@image.Path" class="ListItemImage" />
            }
        }
        else
        {
            <h3>No images for this item.</h3>
        }
    </div>
    <div class="col-md-3">
        <h2>@Model.Title</h2>
        <label>City: </label>
        @Html.DisplayFor(model => model.City.CityName)<br />
        <label>Region: </label>
        @Html.DisplayFor(model => model.Region.RegionName)<br />
        <label>Expiration Date: </label>
        @Html.DisplayFor(model => model.ExpirationDate)<br />
    </div>
    <div class="col-md-3">
        <h3>Description</h3>
        <p>
            @Model.Description
        </p>

    </div>
    <div class="col-md-3">
        <h3>Navigation</h3>
        @Html.ActionLink("Show Item", "DisplaySingleItem", "Item", new { itemID = Model.ItemID }, null)
    </div>
</div>
